:root {
  --white: #fff;
  --navyblue: #2e2f42;
  --slate: #434455;
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --cloud: #f4f4fd;
}

.link {
  text-decoration: none;
  color: currentColor;
  font-style: normal;
}

.list {
  list-style: none;
}

.page {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white);
  color: var(--slate)
}

/* HEADER */

.header-nav {
}

.header-logo {
  color: var(--iris);
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
}

.logo-other {
color: var(--navyblue);
}

.header-list {
}

.header-item {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.header-item:hover,
.header-item:focus {
  color: var(--ocean);
}

.contacts {
  font-style: normal;
}

.contacts-list {
}

.contacts-item {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.contacts-item:hover,
.contacts-item:focus {
  color: var(--ocean);
}

/* MAIN */
.main {
}

.section {
}

.order {
  background-color: var(--navyblue);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.order-title {
  color: var(--white);
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 1.12px;
}

.order-btn {
  cursor: pointer;
  background: var(--iris);
  color: var(--white);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.order-btn:hover,
.order-btn:focus {
  background-color: var(--ocean);
}

/* benefits */
.benefits {
}

.benefits-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: var(--navyblue);
}

.benefits-list {
}

.benefits-item {
}

.benefits-item-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: var(--navyblue);
}

.text {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.32px;
  font-size: 16px;
}

.benefits-title-par {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
.working {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
}

.title {
  font-size: 1.17;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.working-list {
}

.working-item {
}

.working-img {
}

.site {
}

.mess {
}

.tel {
}

.team {
  background-color: var(--cloud);
    font-size: 36px;
      line-height: 1.11;
      text-align: center;
      letter-spacing: 0.02em;
      color: var(--navyblue);
}

.team-list {
}

.team-item {
  background-color: var(--white);
}

.team-img {
}

.p-designer {
}

.team-title {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: var(--navyblue);
}

.position {
  color: var(--slate);
  line-height: 1.5;
  letter-spacing: 0.32px;
  font-size: 16px;
  letter-spacing: 0.02em;
}

.developer {
}

.marketing {
}

.ui-designer {
}

.footer {
  background-color: var(--navyblue);
}

.footer-logo {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-white{
  color: var(--cloud);
}

.exhortation {
  color: var(--cloud);
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.portfolio-btn{
font-family: "Roboto", sans-serif;
font-size: 16px;
letter-spacing: 0.04em;
  background-color: var(--cloud);
color: var(--iris);
    text-align: center;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.64px;
    cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: var(--ocean);
        color: var(--white);
}

.project-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navyblue);
}

.scope-project {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: var(--slate);
}